altgraph==0.16.1
asn1crypto==0.24.0
attrs==19.1.0
backcall==0.1.0
blessings==1.7
bpython==0.18
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cryptography==2.7
curtsies==0.3.0
decorator==4.4.0
future==0.17.1
fuzzywuzzy==0.17.0
geojson==2.5.0
greenlet==0.4.15
idna==2.8
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pbr==5.4.2
pefile==2019.4.18
pickleshare==0.7.5
prompt-toolkit==2.0.9
pyasn1==0.4.6
pyasn1-modules==0.2.6
PyAudio==0.2.11
pycparser==2.19
Pygments==2.4.2
pyinstall==0.1.4
PyInstaller==3.5
pyOpenSSL==19.0.0
pyowm==2.10.0
pypiwin32==223
PySocks==1.7.0
pyTelegramBotAPI==3.6.6
pyttsx3==2.71
pyweatherbit==2.0.0
pywin32==224
pywin32-ctypes==0.2.0
requests==2.7.0
responses==0.10.6
service-identity==18.1.0
six==1.12.0
SpeechRecognition==3.8.1
split==0.4
stevedore==1.30.1
telebot==0.0.3
TelegramBotAPI==0.3.2
traitlets==4.3.2
typing==3.7.4
urllib3==1.25.3
virtualenv==16.7.3
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
